@model DoctorAppointmentSystem.Models.Doctor
@{ 
    Layout = "~/Views/Shared/ForDoctorLayout.cshtml";
}
    
        <form class="form-horizontal" method="post" action="/DoctorRegisteration/Index">
            @Html.Partial("Index_Edit")

        </form>
    



