@{
    Layout = "~/views/Shared/ForDoctorLayout.cshtml";
}
@{
    ViewBag.Title = "ForDoctors";
}

<div class="jumbotron bg-secondary text-white">
    <div class="container">
        <h1 class="display-3">Join Our Crew</h1>
        <p>Sign up to be one of our crew</p>
        <p><a class="btn btn-primary btn-lg" href="/DoctorRegisteration/Index" role="button">Learn more »</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Helping Patients</h2>
            <p>Be Always there to do your meant job</p>

        </div>
        <div class="col-md-4">
            <h2>Nice & Easy</h2>
            <p>Receive payment for the entire visit directly from the patient.</p>
        </div>
        <div class="col-md-4">
            <h2>Confidentiality</h2>
            <p>Only verified bookings and requests.</p>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center"><a class="btn btn-outline-primary" href="/DoctorRegisteration/Index">Join us NOW !!</a></div>

</div> <!-- /container -->
